<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhrt.dao.NoticeTypeDao">

	<!-- 表名 -->
	<sql id="base_table" > 
	    infonoticetype
	</sql>  
	
	<!-- 插入字段 -->
	<sql id="insert_field_list">
		id,
		noticeTypeId,
		noticeTypeName,
		status,
		remark,
		createUser,
		createTime,
		updateUser,
		updateTime
	</sql>

	<!-- 查询字段 -->
	<sql id="select_field_list">
		id,
		noticeTypeId,
		noticeTypeName,
		status,
		remark,
		createUser,
		createTime,
		updateUser,
		updateTime
	</sql>
	
	<!-- 查询总数字段 -->
	<sql id="select_field_count">
		count(*)
	</sql>
	
	<!-- 查询条件where -->
	<sql id="select_condition_where">
		where  1=1 
			<if test="id != null and id != ''">  
			 and id=#{id} 
			</if>
			<if test="noticeTypeId != null and noticeTypeId != ''">  
			 and noticeTypeId=#{noticeTypeId} 
			</if>
			<if test="noticeTypeName != null and noticeTypeName != ''">  
			 and noticeTypeName=#{noticeTypeName} 
			</if>
			<if test="status != null and status != ''">  
			 and status=#{status} 
			</if>
			<if test="remark != null and remark != ''">  
			 and remark=#{remark} 
			</if>
			<if test="createUser != null and createUser != ''">  
			 and createUser=#{createUser} 
			</if>
			<if test="createTime != null and createTime != ''">  
			 and createTime=#{createTime} 
			</if>
			<if test="updateUser != null and updateUser != ''">  
			 and updateUser=#{updateUser} 
			</if>
			<if test="updateTime != null and updateTime != ''">  
			 and updateTime=#{updateTime} 
			</if>
	</sql> 

	<!-- 查询条件orderby和limit等 -->
	<sql id="select_condition_orderlimit">
		<if test="orderBy != null and  orderBy != '' and order != null and  order != '' ">  
			 order by ${orderBy} ${order} 
		</if>
		<if test="limitB != null and  limitB >= 0 and limitNum != null and  limitNum >= 0 ">  
			 limit #{limitB},#{limitNum} 
		</if>
	</sql> 
		
	<!-- 查询单条数据 -->
	<select id="get" parameterType="map" resultType="com.zhrt.entity.NoticeTypeInfo">
		SELECT <include refid="select_field_list" /> 
		from <include refid="base_table"/>  
		<include refid="select_condition_where"/> 
		limit 1
	</select> 
	
	<!-- 查询多条数据 -->
	<select id="getList" parameterType="map" resultType="com.zhrt.entity.NoticeTypeInfo">
		SELECT <include refid="select_field_list" />
		from <include refid="base_table"/>
		<include refid="select_condition_where"/>
		and status != '3'
		<include refid="select_condition_orderlimit" />
	</select> 
	
	
	<!-- 查询多条数据总条数 -->
	<select id="getListCount" parameterType="map" resultType="int">
		SELECT <include refid="select_field_count" />
		from <include refid="base_table"/> 
		<include refid="select_condition_where"/>
		and status != '3'
	</select> 
	
	<insert id="add" parameterType="map">
	  <selectKey resultType="String" order="BEFORE" keyProperty="id">  
	    SELECT UUID_SHORT() as id;   
	  </selectKey>
	  insert into  <include refid="base_table" />
	  ( <include refid="insert_field_list" /> )  
	 values( 
		 #{id},
		 #{noticeTypeId},
		 #{noticeTypeName},
		 #{status},
		 #{remark},
		 #{createUser},
		 #{createTime},
		 #{updateUser},
		 #{updateTime}
	 )  
	</insert>  


	<!-- 修改信息，只修改只不为空的字段 -->  
	<update id="update" parameterType="Object" >  
	    update <include refid="base_table" /> 
	    set
	    <if test="noticeTypeId != null and noticeTypeId !='null'">  
			noticeTypeId=#{noticeTypeId},
	    </if>
	    <if test="noticeTypeName != null and noticeTypeName !='null'">  
			noticeTypeName=#{noticeTypeName},
	    </if>
	    <if test="status != null and status !='null'">  
			status=#{status},
	    </if>
	    <if test="remark != null and remark !='null'">  
			remark=#{remark},
	    </if>
	    <if test="createUser != null and createUser !='null'">  
			createUser=#{createUser},
	    </if>
	    <if test="createTime != null and createTime !='null'">  
			createTime=#{createTime},
	    </if>
	    <if test="updateUser != null and updateUser !='null'">  
			updateUser=#{updateUser},
	    </if>
	    <if test="updateTime != null and updateTime !='null'">  
			updateTime=#{updateTime},
	    </if> 
	    	id=#{id}
	    where id=#{id}
	</update>
	  	

	<!-- 删除信息 -->  
	<delete id="delById" parameterType="Object">
		delete from <include refid="base_table" />  
	    where id=#{id}
	</delete>

	<!-- 批量删除信息 -->  
	<delete id="delBatch" parameterType="Object">
		delete from <include refid="base_table" />  
	    where
	    <if test="ids != null">
	    	id in
	    	 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
				#{item}
			</foreach>  
			and
	    </if>
	    <if test="id != null">
			id=#{id}  and
	    </if>
	    1=1
	</delete>
</mapper> 
