<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhrt.dao.AppVersionInfoDao">

	<!-- 表名 -->
	<sql id="base_table" > 
	    infoapplversion
	</sql>  
	
	<!-- 插入字段 -->
	<sql id="insert_field_list">
		id,
		myepayAppId,
		appId,
		icon,
		verNumber,
		verName,
		verPackName,
		verPackFileType,
		verPackFileLength,
		verDownUrl,
		sdkVer,
		descript,
		status,
		verSource,
		createPerson,
		createTime,
		lastUpdatePerson,
		lastUpdateTime
	</sql>

	<!-- 查询字段 -->
	<sql id="select_field_list">
		id,
		myepayAppId,
		appId,
		icon,
		verNumber,
		verName,
		verPackName,
		verPackFileType,
		verPackFileLength,
		verDownUrl,
		sdkVer,
		descript,
		status,
		verSource,
		createPerson,
		createTime,
		lastUpdatePerson,
		lastUpdateTime
	</sql>
	
	<!-- 查询总数字段 -->
	<sql id="select_field_count">
		count(*)
	</sql>
	
	<!-- 查询条件where -->
	<sql id="select_condition_where">
		where  1=1 
			<if test="id != null and id != ''">  
			 and id=#{id} 
			</if>
			<if test="myepayAppId != null and myepayAppId != ''">  
			 and myepayAppId=#{myepayAppId} 
			</if>
			<if test="appId != null and appId != ''">  
			 and appId=#{appId} 
			</if>
			<if test="icon != null and icon != ''">  
			 and icon=#{icon} 
			</if>
			<if test="verNumber != null and verNumber != ''">  
			 and verNumber=#{verNumber} 
			</if>
			<if test="verName != null and verName != ''">  
			 and verName like '%${verName}%'
			</if>
			<if test="verPackName != null and verPackName != ''">  
			 and verPackName=#{verPackName} 
			</if>
			<if test="verPackFileType != null and verPackFileType != ''">  
			 and verPackFileType=#{verPackFileType} 
			</if>
			<if test="verPackFileLength != null and verPackFileLength != ''">  
			 and verPackFileLength=#{verPackFileLength} 
			</if>
			<if test="verDownUrl != null and verDownUrl != ''">  
			 and verDownUrl=#{verDownUrl} 
			</if>
			<if test="sdkVer != null and sdkVer != ''">  
			 and sdkVer=#{sdkVer} 
			</if>
			<if test="descript != null and descript != ''">  
			 and descript=#{descript} 
			</if>
			<if test="status != null and status != ''">  
			 and status=#{status} 
			</if>
			<if test="verSource != null and verSource != ''">  
			 and verSource=#{verSource} 
			</if>
			<if test="createPerson != null and createPerson != ''">  
			 and createPerson=#{createPerson} 
			</if>
			<if test="createTime != null and createTime != ''">  
			 and createTime=#{createTime} 
			</if>
			<if test="lastUpdatePerson != null and lastUpdatePerson != ''">  
			 and lastUpdatePerson=#{lastUpdatePerson} 
			</if>
			<if test="lastUpdateTime != null and lastUpdateTime != ''">  
			 and lastUpdateTime=#{lastUpdateTime} 
			</if>
	</sql> 

	<!-- 查询条件orderby和limit等 -->
	<sql id="select_condition_orderlimit">
		<if test="orderBy != null and  orderBy != '' and order != null and  order != '' ">  
			 order by ${orderBy} ${order} 
		</if>
		<if test="limitB != null and  limitB >= 0 and limitNum != null and  limitNum >= 0 ">  
			 limit #{limitB},#{limitNum} 
		</if>
	</sql> 
		
	<!-- 查询单条数据 -->
	<select id="get" parameterType="map" resultType="com.zhrt.entity.AppVersionInfo">
		SELECT <include refid="select_field_list" /> 
		from <include refid="base_table"/>  
		<include refid="select_condition_where"/> 
		limit 1
	</select> 
	
	<!-- 查询多条数据 -->
	<select id="getList" parameterType="map" resultType="com.zhrt.entity.AppVersionInfo">
		SELECT <include refid="select_field_list" />
		from <include refid="base_table"/>
		<include refid="select_condition_where"/>
		and status != '3'
		<include refid="select_condition_orderlimit" />
		<!-- SELECT 
		v.id,
		v.myepayAppId,
		v.appId,
		a.appName,
		v.verNumber,
		v.verName,
		v.verPackName,
		v.verPackFileType,
		v.verPackFileLength,
		v.verDownUrl,
		v.descript,
		v.status,
		v.verSource,
		v.createPerson,
		v.createTime,
		v.lastUpdatePerson,
		v.lastUpdateTime
		from <include refid="base_table"/> v left join infoapplication a on v.appId = a.id
		<include refid="select_condition_where"/>
		<include refid="select_condition_orderlimit" /> -->
	</select> 
	
	
	<!-- 查询多条数据总条数 -->
	<select id="getListCount" parameterType="map" resultType="int">
		SELECT <include refid="select_field_count" />
		from <include refid="base_table"/> 
		<include refid="select_condition_where"/>
		and status != '3'
	</select> 
	
	<insert id="add" parameterType="com.zhrt.entity.AppVersionInfo">
	  <selectKey resultType="String" order="BEFORE" keyProperty="id">  
	    SELECT UUID_SHORT() as id;   
	  </selectKey>
	  insert into  <include refid="base_table" />
	  ( <include refid="insert_field_list" /> )  
	 values( 
		#{id},
		#{myepayAppId},
		#{appId},
		#{icon},
		#{verNumber},
		#{verName},
		#{verPackName},
		#{verPackFileType},
		#{verPackFileLength},
		#{verDownUrl},
		#{sdkVer},
		#{descript},
		#{status},
		#{verSource},
		#{createPerson},
		#{createTime},
		#{lastUpdatePerson},
		#{lastUpdateTime}
	 )  
	</insert>  


	<!-- 修改信息，只修改只不为空的字段 -->  
	<update id="update" parameterType="com.zhrt.entity.AppVersionInfo" >  
	    update <include refid="base_table" /> 
	    set
			<if test="myepayAppId != null and myepayAppId!='null'">  
			 myepayAppId=#{myepayAppId},
			</if>
			<if test="appId != null and appId !='null'">  
			 appId=#{appId},
			</if>
			<if test="icon != null and icon !='null'">  
			 icon=#{icon},
			</if>
			<if test="verNumber != null and verNumber !='null'">  
			 verNumber=#{verNumber},
			</if>
			<if test="verName != null and verName !='null'">  
			 verName=#{verName},
			</if>
			<if test="verPackName != null and verPackName !='null'">  
			 verPackName=#{verPackName},
			</if>
			<if test="verPackFileType != null and verPackFileType !='null'">  
			 verPackFileType=#{verPackFileType},
			</if>
			<if test="verPackFileLength != null and verPackFileLength !='null'">  
			 verPackFileLength=#{verPackFileLength},
			</if>
			<if test="verDownUrl != null and verDownUrl !='null'">  
			 verDownUrl=#{verDownUrl},
			</if>
			<if test="descript != null and descript !='null'">  
			 descript=#{descript},
			</if>
			<if test="sdkVer != null and sdkVer !='null'">  
			 sdkVer=#{sdkVer},
			</if>
			<if test="status != null and status !='null'">  
			 status=#{status},
			</if>
			<if test="verSource != null and verSource !='null'">  
			 verSource=#{verSource},
			</if>
			<if test="lastUpdatePerson != null and lastUpdatePerson !='null'">  
			 lastUpdatePerson=#{lastUpdatePerson},
			</if>
			<if test="lastUpdateTime != null and lastUpdateTime !='null'">  
			 lastUpdateTime=#{lastUpdateTime},
			</if>
			id=#{id}
	    where id=#{id}
	</update>
	<!--产品下线时，产品的所有版本下线  -->
	<update id="updateByAppId" parameterType="java.util.Map">
		update <include refid="base_table"/>
		set
			status = #{status}
		where 
			appId = #{appId}
	</update>
	
	<!--查询父渠道可添加的运营产品数量  -->
	<select id="getParentCanAddChannelAppCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select <include refid="select_field_count"/>
	 	from 
			(select a.* from (select * from infoapplversion where status = '1' ORDER BY verNumber desc) a GROUP BY a.appId) lca 
			LEFT JOIN infoapplication app on app.id = lca.appId 
			left join infoapptype type on type.id = app.appSort 
			left JOIN infocp cp on cp.id = app.cpId
		where not EXISTS (select * from infochannelappl ca where ca.verId = lca.id and ca.channelId=#{channelId} and ca.status = '1') 
			<include refid="select_addchanapp_condition"/>
			and app.status = '1'
			and type.status = '1'
			and cp.status = '1'
	</select>
	
	 <!-- 查询父渠道可以添加的运营产品  -->
	 <select id="getParentCanAddChannelApp" parameterType="java.util.Map" resultType="com.zhrt.entity.AppVersionInfo">
	 	select lca.*,app.appName,type.appTypeName,cp.cpName 
	 	from 
			(select a.* from (select * from infoapplversion where status = '1' ORDER BY verNumber desc) a GROUP BY a.appId) lca 
			LEFT JOIN infoapplication app on app.id = lca.appId 
			left join infoapptype type on type.id = app.appSort 
			left JOIN infocp cp on cp.id = app.cpId
		where not EXISTS (select * from infochannelappl ca where ca.verId = lca.id and ca.channelId=#{channelId} and ca.status = '1') 
			<include refid="select_addchanapp_condition"/>
			and app.status = '1'
			and type.status = '1'
			and cp.status = '1'
	 </select>
	 <!-- 查询子渠道可以添加的运营产品数量 -->
	 <select id="getChildCanAddChannelAppCount" parameterType="java.util.Map" resultType="java.lang.Integer">
	 	SELECT <include refid="select_field_count"/>
	 	from infoapplversion av 
			left JOIN infochannelappl ca on ca.verId = av.id 
			LEFT JOIN infochannel c on c.parentId = ca.channelId 
			LEFT JOIN infoapplication app on app.id = av.appId
			left JOIN infoapptype type on type.id = app.appSort
			LEFT JOIN infocp cp on cp.id = app.cpId
		where c.id = #{channelId}
			<include refid="select_addchanapp_condition"/>
			and av.status = '1'
			and ca.status = '1'
			and c.status = '1'
			and app.status = '1'
			and type.status = '1'
			and cp.status = '1'
	 </select>
	 <!-- 查询子渠道可以添加的运营产品 -->
	 <select id="getChildCanAddChannelApp" parameterType="java.util.Map" resultType="com.zhrt.entity.AppVersionInfo">
	 	SELECT av.*,app.appName,type.appTypeName,cp.cpName 
	 	from infoapplversion av 
			left JOIN infochannelappl ca on ca.verId = av.id 
			LEFT JOIN infochannel c on c.parentId = ca.channelId 
			LEFT JOIN infoapplication app on app.id = av.appId
			left JOIN infoapptype type on type.id = app.appSort
			LEFT JOIN infocp cp on cp.id = app.cpId
		where c.id = #{channelId}
			<include refid="select_addchanapp_condition"/>
			and av.status = '1'
			and ca.status = '1'
			and c.status = '1'
			and app.status = '1'
			and type.status = '1'
			and cp.status = '1'
	 </select>
	 
	 <!--查询渠道可添加的运营产品列表查询条件  -->
	 <sql id="select_addchanapp_condition">
	 	<if test="appId != null and appId !=''">
	 		and lca.appId = #{appId}
	 	</if>
	 	<if test="appName != null and appName !=''">
	 		and app.appName = #{appName}
	 	</if>
	 	<if test="appSort != null and appSort != ''">
	 		and type.id = #{appSort}
	 	</if>
	 </sql>
	 
	 

	<!-- 删除信息 -->  
	<delete id="delById" parameterType="Object">
		delete from <include refid="base_table" />  
	    where id=#{id}
	</delete>

	<!-- 批量删除信息 -->  
	<delete id="delBatch" parameterType="Object">
		delete from <include refid="base_table" />  
	    where
	    <if test="ids != null">
	    	id in
	    	 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
				#{item}
			</foreach>  
			and
	    </if>
	    <if test="id != null">
			id=#{id}  and
	    </if>
	    1=1
	</delete>
</mapper> 
